<div class="field-{{ key }}">
    <div title="{{ title }}" class="input-xlarge">
        <span data-editor></span>
        <div class="help-inline" data-error></div>
    </div>
    {{#if help}}
    <div class="help-block">{{ help }}</div>
    {{/if}}
</div>