<div class="row table-wrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-3">
                    Name
                </th>
                <th class="col-md-3">
                    <span class="line"></span>Description
                </th>
                <th class="col-md-3">
                    <span class="line"></span>Status
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>