<td>
    <a href="/menu/{{id}}/" class="name">{{name}}</a>
</td>
<td class="description">
    {{description}}
</td>
<td>
    <span class="label label-success">Active</span>
    <ul class="actions">
        <li><a href="/menu/{{id}}/">Edit</a></li>
        <li class="last"><a href="#" data-action-delete>Delete</a></li>
    </ul>
</td>