<div class="col-md-8 column form-horizontal">
    <div class="form-group" data-ui-name-group>
        <label class="col-md-3 control-label">Name :</label>
        <div class="col-md-5" data-region-name>
        </div>
    </div>
    <div class="form-group" data-ui-description-group>
        <label class="col-md-3 control-label">Description :</label>
        <div class="col-md-5" data-region-description>
        </div>
    </div>
</div>
<div class="col-md-4 column">

    <button class="btn btn-primary" data-action-save>Save</button>
</div>
<div class="col-md-8 column  form-horizontal" data-region-items></div>
